.CodeArea {
  overflow: auto;
  height: 100%;
  background-color: #292d3e;
  padding: 0 13px;
  color: white;
}

.CodeArea pre {
  display: flex;
}

.CodeArea pre code {
  /* highlight render code line height with 19px,
  but somehow there would be some lines with wrong height
  making the index and code line don't match
  so here make every line height of the code node bigger than 20px
  every line rendered by highlight will still try to be 19px height
  but the line containing it is higher than it
  */
  line-height: 20px;
}

.Indexes {
  user-select: none;
}

.Indexes span {
  float: right;
}

.CodeLines {
  flex-grow: 1;
}

.CodeArea::-webkit-scrollbar {
  width: 15px;
}

.CodeArea:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
/* mouse hover scrollbar thumb */
.CodeArea::-webkit-scrollbar-thumb:hover {
  background: rgba(35, 38, 52);
}

/* click or drag the scrollbar thumb */
.CodeArea::-webkit-scrollbar-thumb:active {
  background: rgba(128, 203, 196);
}

.CodeArea::-webkit-scrollbar-corner {
  display: none;
}